* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.box {
    width: 100%;
    height: 100px;
    background-color: crimson;
    color: white;
}
.box.red {
    flex: 1;
    background-color: crimson;
}
.box.blue {
    flex: 1;
    background-color: cornflowerblue;
}
.box.green {
    flex: 2;
    background-color: greenyellow;
}
.box.purple {
    flex: 1;
    background-color: purple;
}